<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>    <title>Create Course</title>
</head>
<body>
<form method="POST" action="/newCourse">

    <input  type="text" name="name" placeholder="Course name"/><br/>
    <textarea name="description"  placeholder="enter some description"  rows="30"></textarea><br/>
    <input type="text" name="duration" placeholder="course duration"/><br/>
    <input type="text" name="start_date" placeholder="enter start date"/><br/>
    <input type="submit" value=" submit"/><input type="reset" value="reset"/><br/>


</form>
</body>
</html>